
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
debug_proxies.html
proxies.txt
validado_proxies.txt

chromedriver
chromedriver.exe

.env
.env.local

pip-log.txt